data/classes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Class" type="Class" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element name="Attr" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Method" type="Method" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Parent" type="ParentClass" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="ParentClass">
    <xs:attribute name="id" type="xs:integer"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Argument">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Method">
    <xs:sequence>
      <xs:element name="Arg" type="Argument" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="modifier" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Attribute">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="modifier" type="xs:string"/>
  </xs:complexType>
</xs:schema>
